<h1>Listing episodes</h1>

<table class="table">
  <thead>
    <tr>
      <th>Show</th>
      <th>Season</th>
      <th>Number</th>
      <th>Name</th>
      <th>Description</th>
      <th>Url</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @episodes.each do |episode| %>
      <tr>
        <td><%= episode.show_id %></td>
        <td><%= episode.season %></td>
        <td><%= episode.number %></td>
        <td><%= episode.name %></td>
        <td><%= episode.description %></td>
        <td><%= episode.url %></td>
        <td><%= link_to 'Show', episode %></td>
        <td><%= link_to 'Edit', edit_episode_path(episode) %></td>
        <td><%= link_to 'Destroy', episode, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Episode', new_episode_path %>
