<h1>Listing episodes</h1>

<table class="table">
  <thead>
    <tr>
      <th>Show</th>
      <th>Season</th>
      <th>Number</th>
      <th>Name</th>
      <th>Description</th>
      <th>Link</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @episodes.each do |episode| %>
      <tr>
        <td><%= link_to episode.show.name, show_path(episode.show.id) %></td>
        <td><%= episode.season %></td>
        <td><%= episode.number %></td>
        <td><%= episode.name %></td>
        <td><%= episode.description %></td>
        <td><%= episode.url %></td>
        <td><%= link_to 'Edit', edit_episode_path(episode), class: 'btn btn-warning', style: 'color: #fff;' %></td>
        <td><%= link_to 'Destroy', episode, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger', style: 'color: #fff;' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add New Episode', new_episode_path, class: 'btn btn-success', style: 'color: #fff;' %>
