<p id="notice"><%= notice %></p>

<div>
<div style="float:left;">
  <h1><%= @show.name %></h1>

  <h4 style="width: 500px;"><%= @show.description %></h4>
</div>
<div style="float:right;">
  <p>
    <%= image_tag @show.photo_url, style: "width: 200px; height: 150px;" %>
  </p>
</div>
</div>
<div style="clear:both;"></div>

<br/><br/>

<table class="table">
  <tr>
    <th>Season</th>
    <th>Episode</th>
    <th>Name</th>
    <th>Description</th>
    <th>Link</th>
  </tr>
<% @show.episodes.each do |episode| %>
  <tr>
    <td><%=episode.season%></td>
    <td><%=episode.number%></td>
    <td><%=episode.name%></td>
    <td><%=episode.description%></td>
    <td><%=link_to episode.url, episode.url, target: '_blank' %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Back', shows_path, class: 'btn' %>
